* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  padding: 20px 30px;
  border-bottom: #cd0000 solid 3px;
  background-color: #0000cd;
  color: #ccc;
}

.form-control {
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
  border: #0000cd solid 1px;
}
.title {
  font-size: 20px;
  font-weight: 800;
}
.input-field {
  position: relative;
  width: 100%;
}

.input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 35px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
  outline: none;
}
.input:focus {
  border: 1.5px solid #2d79f3;
}
.input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-field .input:focus ~ .label,
.input-field .input:valid ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #2d79f3;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}
#btnCadastrar {
  margin-top: 30px;
  height: 40px;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: #e00000;
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

#btnCadastrar:hover {
  background: #cd0000;
  box-shadow: 0px 0px 0px 2px #ffffff,
    0px 0px 0px 4px hsla(244, 100%, 51%, 0.781);
}

#sectionForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#secundaria h2 {
  text-align: center;
  color: #0011f8;
  margin: 10px;
}
.registrador {
  background-color: #f0f0f0;
  height: auto;
  width: 400px;
  margin: 10px auto 100px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#sessao-divs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.button-apagar,
.editar {
  background-color: #0000cd;
  padding: 5px;
  border-radius: 7px;
  color: #f0f0f0;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  margin: 10px;
}
.button-apagar:hover {
  background-color: #ff0000;
}
.editar:hover {
  background-color: #ff0000;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-top: #cd0000 solid 3px;
  background-color: #0000cd;
  color: #ccc;
}
